<ion-view view-title="Profile" ng-init="getUser()">
      <ion-content class="padding">
<h4>Profile</h4>
<div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">{{ 'PROFILE.name_field' | translate }}</span>
    <input type="text" value="{{user.name}}">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">{{ 'PROFILE.last_field' | translate }}</span>
    <input type="text" value="{{user.lastname}}">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">{{ 'PROFILE.iden_field' | translate }}</span>
    <input type="text" value="{{user.iden}}">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">{{ 'PROFILE.email_field' | translate }}</span>
    <input type="text" value='{{user.email}}'>
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">{{ 'PROFILE.bank_field' | translate }}</span>
    <input type="text" value='{{user.bank}}'>
  </label>
  
</div>
</ion-content>
</ion-view>
