<ion-view view-title="Settings">
      <ion-content class="padding">
<h4>Support:</h4>
<div class="card">
  <div class="list">
    <label class="item item-radio">
    <input type="radio" name="group">
    <div class="item-content">
      Contact us by Email.
    </div>
    <i class="radio-icon ion-checkmark"></i>
    <label class="item item-radio">
    <input type="radio" name="group" checked="">
    <div class="item-content">
      Read Our Policy
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>
  </div>
</div>
</ion-content>
</ion-view>
