<ion-content scroll="false">
  <ion-slides  options="options" slider="data.slider">
    <ion-slide-page>
      <div class="box">
          <h1>1. Encuentra propiedades.</h1>
          <p>Busca desde diferentes fuentes lugares cerca a tu ubicación.</p>
      </div>
    </ion-slide-page>
    <ion-slide-page>
      <div class="box">
          <h1>2. Consultas y dudas.</h1>
          <p>Realiza tus preguntas rapidamente.</p>
      </div>
    </ion-slide-page>
    <ion-slide-page>
      <div class="box">
          <h1>3. Balance entre Capacidad / Propiedad.</h1>
          <p>Encuentra las mejores opciones que se acomoden a tu presupuesto.</p>
      </div>
    </ion-slide-page>
    <ion-slide-page>
      <div class="box">
          <h1>4. Solicita tu Pre-aprobación facilmente.</h1>
          <p>Te conectamos directamente con los bancos.</p>
      </div>
    </ion-slide-page>
    <ion-slide-page>
      <div class="box">
          <h1>Suena bien no lo crees?.</h1>
          <p>Vamos a empezar respondiendo unas preguntas que nos ayudaran a filtrar mejor la info para ti.<br><br>         
        <a href="#/step1" class="button button-clear button-positive recursos">Adelante.</a></p>
      </div>
    </ion-slide-page>
  </ion-slides>
</ion-content>