<ion-view view-title="About">
      <ion-content class="padding">
<h4>About</h4>
<div class="card">
  <div class="list">
    <label class="item item-radio">
    <input type="radio" name="group">
    <div class="item-content">
     Starter to build your own ideas.
    </div>
    <i class="radio-icon ion-checkmark"></i>
    <label class="item item-radio">
    <input type="radio" name="group" checked="">
    <div class="item-content">
      Made with Love :)
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>
  </div>
</div>
</ion-content>
</ion-view>
