.menu.menu-left { 
    @include background-gradient();
    .item.item-complex {
        background: transparent;
        border: none;
        .item-content {
            color:#fff;
            background: transparent;
            border: none;
            i {
                color:#fff;
            }
        }
    }
}
