@mixin background-gradient() {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a9e4f7+0,0082b9+100;Ble+3D+%235 */
    background: #00bab4; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #00bab4 0%, #0082b9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  #00bab4 0%,#0082b9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  #00bab4 0%,#0082b9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bab4', endColorstr='#0082b9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}