<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title"></h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/home">
        <i class="icon ion-cube larger dark"></i> {{ 'MENU.menu_title1' | translate }}
        </ion-item>
        <ion-item menu-close href="#/app/products">
        <i class="icon ion-map larger dark"></i> Lugares cercanos
        </ion-item>
        <ion-item menu-close href="#/app/profile">
        <i class="icon ion-android-contact larger dark"></i> {{ 'MENU.menu_title2' | translate }}
        </ion-item>
        <ion-item menu-close href="#/app/payment">
         <i class="icon ion-card larger dark"></i> {{ 'MENU.menu_title3' | translate }}
        </ion-item>
        <ion-item menu-close href="#/app/support">
         <i class="ion-ios-chatbubble"></i> {{ 'MENU.menu_title4' | translate }}
        </ion-item>
        <ion-item menu-close href="#/app/invite">
         <i class="ion-ios-paperplane-outline"></i> {{ 'MENU.menu_title5' | translate }}
        </ion-item>
        <ion-item menu-close href="#/app/about">
         <i class="ion-android-alert"></i> {{ 'MENU.menu_title6' | translate }}
        </ion-item>
        <ion-item menu-close ng-click="logOut()">
          <i class="ion-log-out"></i> {{ 'MENU.menu_title7' | translate }}
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
