<ion-view view-title="Paso 2" hide-back-button="true">
        <ion-content>
            <div class="bar bar-header bar-positive list">
            <h1 class="title">Algo acerca de tu hogar soñado.</h1>
            </div>
            <ul class="list">

            <li class="item item-toggle">
                Logia?
                <label class="toggle toggle-positive">
                <input type="checkbox">
                <div class="track">
                    <div class="handle"></div>
                </div>
                </label>
            </li>
            <li class="item item-toggle">
                Terraza?
                <label class="toggle toggle-positive">
                <input type="checkbox">
                <div class="track">
                    <div class="handle"></div>
                </div>
                </label>
            </li>
            <li class="item item-toggle">
                Cerca al metro?
                <label class="toggle toggle-positive">
                <input type="checkbox">
                <div class="track">
                    <div class="handle"></div>
                </div>
                </label>
            </li>
            <li class="item item-toggle">
                Quieres un credito?
                <label class="toggle toggle-positive">
                <input type="checkbox">
                <div class="track">
                    <div class="handle"></div>
                </div>
                </label>
            </li>
            </ul>
            <a href="#/success" class="button button-block button-positive">
            Siguiente
            </a>
        </ion-content>
</ion-view>
